.give-note {
  padding-top: 120px;
}

.give-note__text-wrapper {
  margin-bottom: 40px;
}

.give-note__text-wrapper p:not(:last-child) {
  text-indent: 18px;
  margin-bottom: 20px;
}

.table-wrapper {
  display: flex;
  justify-content: center;
}

.prices-table {
  width: 810px;
}

.prices-table,
.prices-table__row,
.prices-table__col {
  border: var(--table-border, 1px solid #828282);
  border-collapse: collapse;
}

.prices-table__col {
  padding: 10px 10px 12px;
}

@media (max-width: 420px) {
  .header__logo--white {
    display: none;
  }

  .give-note {
    padding: 15px 0;
  }

  .give-note__text {
    text-align: justify;
    font-size: 14px;
  }

  .prices-table {
    font-size: 14px;
  }
}