.footer {
  color: var(--white-color, #fff);
}

.footer__navigation-section {
  background-color: var(--bg-accent, #6D2826);
  padding-top: 60px;
  padding-bottom: 114px;
}

.footer__wrapper-columns {
  display: flex;
  justify-content: space-between;
}

.footer__title {
  max-width: 395px;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 39px;
}

.footer__contacts {
  font-style: normal;
}

.footer__address {
  max-width: 332px;
}

.footer__item {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__navigation-item {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.footer__navigation-item:last-child {
  margin-bottom: 0;
}

.footer__navigation-list {
  max-width: 171px;
}

.footer__button {
  margin-bottom: 40px;
}

.social {
  margin-bottom: 40px;
}

.social__list {
  display: flex;
  gap: 10px;
}

.social__item {
  width: 40px;
  height: 40px;
}

.social__link {
  font-size: 0;
}

.footer__policy {
  font-size: 16px;
  text-transform: uppercase;
}

.footer__policy-text {
  margin-bottom: 18px;
}

.footer__user-policy {
  font-size: 16px;
  text-transform: uppercase;
}

@media (max-width: 420px) {
  .footer__navigation-section {
    padding: 30px 0;
  }

  .footer__wrapper-columns {
    flex-direction: column;
  }

  .footer__title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .footer__contacts {
    margin-bottom: 30px;
  }

  .footer__column {
    display: flex;
    flex-direction: column;
  }

  .footer__item {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .footer__address {
    margin-bottom: 20px;
  }

  .footer__navigation-item {
    margin-bottom: 20px;
  }

  .footer__navigation {
    margin-bottom: 20px;
  }

  .social {
    order: -1;
    margin-bottom: 20px;
  }

  .footer__button {
    margin-bottom: 20px;
  }
}