.slider__img {
    height: 216px;
    background-size: cover;
    margin-bottom: 10px;
}

.slider__date {
    font-size: 18px;
    margin-bottom: 10px;
}
.slider__subtitle {
    font-size: 18px;
}
