.schedule {
  padding: 90px 0 80px;
}

.schedule__title {
  margin-bottom: 80px;
}

.day-schedule {
  padding: 40px 0 40px;
}

.day-schedule:first-of-type {
  padding-top: 0;
}

.day-schedule:last-of-type {
  padding-bottom: 0;
}

.day-schedule--disabled {
  opacity: 0.5;
}

.day-schedule__container {
  max-width: 867px;
}

.day-schedule__line {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 52px;
}

.day-schedule__line--title {
  margin-bottom: 4px;
}

.day-schedule__title {
  font-size: 40px;
  line-height: 1.3;
}

.day-schedule__title--date {
  max-width: 182px;
}

.day-schedule__title--bold {
  font-weight: 500;
}

.day-schedule__line--subtitle {
  margin-bottom: 40px;
  column-gap: 74px;
}

.day-schedule__img {
  width: 76px;
  height: 76px;
}

.day-schedule__subtitle {
  font-size: 30px;
  max-width: 332px;
}

.day-schedule__item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 74px;
}

.day-schedule__item:not(:last-child) {
  margin-bottom: 40px;
}

.calendar {
  float: right;
}

.calendar__tmp {
  margin-bottom: 40px;
}

.calendar__btn {
  display: block;
}

@media (max-width: 420px) {
  .schedule {
    padding: 30px 0;
  }

  .schedule__title {
    margin-bottom: 20px;
    color: var(--bg-header, #6D2725);
  }

  .calendar {
    float: none;
    margin-bottom: 30px;
  }
  
  .calendar__tmp {
    margin-bottom: 0;
  }

  .calendar__month {
    text-align: center;
  }

  .calendar__btn {
    display: none;
  }

  .day-schedule {
    padding: 20px 0;
  }

  .day-schedule__line {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .day-schedule__line--title {
    margin-bottom: 20px;
  }

  .day-schedule__title--date {
    max-width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .day-schedule__title--bold {
    font-family: 'Molodo-font';
    font-size: 24px;
    color: var(--bg-header, #6D2725);
  }

  .day-schedule__line--subtitle {
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
    margin-bottom: 20px;
  }

  .day-schedule__img {
    width: 40px;
    height: 40px;
    justify-self: end;
  }

  .day-schedule__subtitle {
    font-size: 14px;
    align-self: center;
    max-width: 180px;
  }

  .day-shedule__list {
    font-size: 14px;
  }

  .day-schedule__item {
    grid-template-columns: .5fr 4fr;
    column-gap: 27px;
  }

  .day-schedule__item:not(:last-child) {
    margin-bottom: 20px;
  }
}