.about {
  padding-top: 90px;
  padding-bottom: 85px;
}

.about__title {
  max-width: 100%;
  font-family: Molodo-font;
  font-size: 100px;
  margin-bottom: 80px;
  padding-left: 104px;
}

.about__title--bottom-line {
  display: block;
  text-align: right;
  padding-right: 104px;
}

/* articles */
.about__article-wrapper {
  position: relative;
  display: flex;
  gap: 92px;
}

/* .about__article {
  max-width: 530px;
  margin-right: 91px;
} */

/* .about__description {
  padding-left: 92px;
} */

/* .about__description:last-child::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 728px;
  color: var(--white-color, #fff);
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%);
  z-index: 111;
} */

.about__img-wrapper {
  margin-bottom: 20px;
  /* margin-bottom: 57px;
  padding-left: 13px; */
}

.about__img {
  object-fit: cover;
}

/* .about__img--long {
  height: 360px;
  width: 250px;
} */

.about__img--top {
  max-width: 610px;
  /* width: 300px; */
  /* height: 241px; */
  /* margin-left: -55px; */
  /* margin-bottom: -17px; */
}

.about__text-wrapper {
  margin-bottom: 32px;
}

.about__text {
  max-width: 571px;
  margin-bottom: 25px;
}

.about__text:last-child {
  margin-bottom: 0;
}

/* second article */
.about__column-title {
  /* max-width: 415px; */
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  /* padding-right: 65px; */
  margin-bottom: 40px;
}

/* .about__separator {
  width: 3px;
  height: 100px;
  color: var(--white-color, #fff);
} */

.about__rector-information {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 28px;
}

.about__rector-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.about__rector-name {
  font-size: 18px;
  /* padding-top: 99px; */
}