.footer-contacts {
  padding: 90px 0;
}

.footer-contacts__wrapper {
  display: flex;
  gap: 201px;
}

.footer-contacts__info {
  font-style: normal;
  max-width: 528px;
}

.footer-contacts__text-wrapper {
  margin-bottom: 40px;
}

.footer-contacts__text-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 13px;
}

.footer-contacts__text {
  max-width: 392px;
  font-size: inherit;
}

.footer-contacts__button {
  background-color: var(--accent-light-brown, #DC6F48);
  border: none;
  color: inherit;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px 40px;
}

.footer-contacts__map {
  max-width: 647px;
}

.footer-contacts__map-picture {
  height: 100%;
}